<p>en préambule, je note:</p>
<ul>
<li>ce document devrait être cindé: pur debian d’un coté, install party de l’autre</li>
<li>confronter la vision Patrick (PXE) vs <a href="https://emmabuntus.org/novembre-2020-emmade3-1-03-axee-sur-le-reemploi-pour-tous/">l’install emabuntu</a> (utilisant <a href="https://calamares.io/about/">calamares</a>?). surtout pour la partie desktop leger.</li>
</ul>
<h1 id="installer-et-configurer-debian">installer et configurer debian</h1>
<h2 id="configurer-apt">configurer apt</h2>
<p>la configuration suivante est une proposition de standardisation de notre procédure d’install de debian pour les install parties. Installé et configuré comme suit, retrouve les avantages d’ubuntu et autres dériv(é)es mais sans les emmerdes. comment?</p>
<ul>
<li>accepter d’utiliser les non-free à l’install et après rend les choses plus simples</li>
<li>un meilleur curseur entre stabilité et fraicheur des paquets</li>
</ul>
<p>donc:</p>
<ul>
<li>installer une stable avec <a href="https://cdimage.debian.org/cdimage/unofficial/non-free/cd-including-firmware/10.4.0+nonfree/">la netinst non-officiel non-free</a> (cf. pathof pour le PXE) (prévoir avec un adaptateur USB/ethernet quand driver pas dispo)</li>
<li>mon /etc/apt/sources.list
<ul>
<li><p><em>avec</em> non-free et contrib</p></li>
<li><p><em>avec</em> une source CDN</p></li>
<li><p>pointe <em>explicitement</em> sur une distro (aka <em>buster</em>, pas stable) parce que pas de mise a jour surprise.</p></li>
<li><p>virer les deb-src</p></li>
<li><p>ajouter les backports et les proposed updates</p></li>
<li><p><em>toujours</em> les security update</p></li>
<li><p>laisser /etc/apt/sources.list vide</p></li>
<li><p>utiliser /etc/apt/sources.list.d/flamekuche.list comme suit</p>
<h1 id="vital">vital</h1>
<p>deb http://deb.debian.org/debian buster main non-free contrib deb http://deb.debian.org/debian-security/ buster/updates main non-free contrib # conseillé deb http://deb.debian.org/debian buster-updates main non-free contrib deb http://deb.debian.org/debian buster-proposed-updates main non-free contrib deb http://deb.debian.org/debian buster-backports main non-free contrib</p></li>
</ul></li>
</ul>
<h2 id="à-faire-après-tasksel">à faire après tasksel</h2>
<h3 id="ssh">ssh</h3>
<p>si télémaintenance acceptée (en attendant d’intaller got quand ce sera rodé):</p>
<ul>
<li>changer le port du serveur ssh (67000 pour l’alsace donc 67022 par exemple).</li>
<li>faire tourner le port ssh sur localhost si pas d’acces local.</li>
<li>générer une clef avec l’utilisateur.</li>
</ul>
<h3 id="bureau">bureau</h3>
<p>scenarii</p>
<h4 id="le-pc-est-potable-et-la-considération-écologique-ne-compte-pas">le pc est potable et la considération écologique ne compte pas</h4>
<p>GNOME</p>
<ul>
<li>libreoffice-gnome-integration flingue les accélérateurs du menu. il faut le déinstaller.</li>
<li>proposer pcmanfm en alternative à nautilus:
<ul>
<li>plus simple à utiliser.</li>
<li>navigation au clavier qui fonctionne.</li>
</ul></li>
<li>supprimer totem et installer videolan à la place</li>
</ul>
<h4 id="le-pc-est-veillissant-ou-la-personne-veut-etre-un-peu-écolo">le pc est veillissant ou la personne veut etre un peu écolo</h4>
<p>xfce ou lxde… j’utilise pas donc pas de recommendations.</p>
<h4 id="le-pc-est-tres-vieux-ou-la-personne-veut-etre-tres-écolo">le pc est tres vieux ou la personne veut etre tres écolo</h4>
<p>y’a plein de solutions pour tous les gouts, ceux que je connais:</p>
<ul>
<li>icewm est très proche de windows95 dans le look&amp;feel.</li>
<li>afterstep et etoile sont très proche de nextstep (ancetre de l’interface de macosx) dans le look&amp;feel.</li>
<li>blackbox: c’est très intuitif mais ne ressemble a rien d’autre que je connaisse.</li>
<li>le meilleur rapport poids/puissance que je connaisse est dwm (tiling management
<ul>
<li>tag stack). C’est hyper puissant et super leger mais à ne pas mettre dans les mains d’un lambda.</li>
</ul></li>
<li>il parait que d’autres sont biens. rofi?</li>
<li>twm ?</li>
</ul>
<p>le display manager slim est vraiment joli et simple.</p>
<h3 id="depot-local">depot local</h3>
<p>dpkg-scanpackages ne suffit plus: il faut générer les fichiers release et autres. les instructions de <a href="https://wiki.debian.org/DebianRepository/SetupWithReprepro">page reprepro du wiki debian</a> sont presque justes. il manque les étapes décrites dans <a href="https://lists.debian.org/debian-user-french/2020/05/msg00107.html">ce thread</a>.</p>
<p>plus:</p>
<ul>
<li>gpg –armor –export $EMAIL |sudo apt-key add</li>
<li>TODO: incron pour lancer reprepro ?</li>
</ul>
<h3 id="partager-les-paquets-entre-les-machines">partager les paquets entre les machines</h3>
<p>j’ai déjà un serveur http qui tourne sur kodi.l. pour le transfomer en cache http:</p>
<pre><code>install -owww-data -gwww-data -m777 -d /var/www/debian-proxy-cache

add_repo () sed &#39;s#.*#server {\
    listen 80; listen [::]:80;\
    server_name &amp;;\
    location / { proxy_pass  http://&amp;; }\
}#&#39;

&lt;&lt;. add_repo
deb.debian.org
packages.microsoft.com
dist.crystal-lang.org
deb.nodesource.com
.</code></pre>
<p>depuis les laptops</p>
<pre><code># apres apt ...
capue () sudo apt -o Acquire::http::Proxy=http://kodi.local $1</code></pre>
<p>sur les postes:</p>
<pre><code>echo &#39;Acquire::http::Proxy=&quot;http://kodi.local&quot;;&#39; &gt;&gt; /etc/apt/apt.conf</code></pre>
<h1 id="aptitude-vs-apt">aptitude vs apt</h1>
<p>aptitude est <em>la</em> principale raison de ma fidélité à debian: c’est un gestionnaire de paquet puissant qui permet de maintenir un desktop sur la durée (je ne réinstalle pas: je fais le ménage de temps en temps et je met à jour un peu avant la sortie de la nouvelle stable).</p>
<p>apt a l’air d’avoir le vent en poupe. je switcherais si j’arrive à réaliser simplement les operations suivantes</p>
<pre><code>aptitude search &#39;~P sip-router&#39;
aptitude search &#39;~i ~Gprotocol::gopher&#39;</code></pre>
