<h1 id="install-parties">install parties</h1>
<p>notes techniques et organisationnelles sur le fonctionnement des install parties.</p>
<ul>
<li><p>installer debian comme <a href="debian.html">ici</a></p></li>
<li><p>j’aimerais bien qu’on parle d’oasis et 9front dans les install parties</p></li>
<li><p>applis bureautiques/mail/??? les choix ? les demos ??</p></li>
<li><p>lug faisait signer une décharge… ca a servi?</p></li>
</ul>
<h2 id="nimposez-pas-vos-choix-de-geeks">N’imposez pas vos choix de geeks!</h2>
<ul>
<li>apt, pas aptitude (ni apt-get, les vieux …): les utilisateurs n’ont pas besoin de la puissance d’aptitude et apt est devenu la nouvelle convention sur les fora web.</li>
<li>quand la personne n’est pas convaincue et que son PC le permet: GNOME est clairement le DE avec lequel j’ai les meilleurs retours (en face de xfce, mate…).</li>
<li>KDE c’est bien mais pas pour le lambda? certains le disent …</li>
<li>Nicolas a dit: deepin ça déchire! (et quand on parle utilisateur)</li>
<li>quoi qu’il en soit: faire une demo! toujours!</li>
</ul>
<h2 id="passer-plus-de-temps-avec-lutilisateur">passer plus de temps avec l’utilisateur</h2>
<p>(grace a calamares?)</p>
<ul>
<li>nous allons installer une distribution:
<ul>
<li>c’est quoi une distribution?</li>
<li>c’est quoi un bureau? (expos ?)</li>
<li>pourquoi debian+(gnome|xfce)?</li>
<li>c’est quoi non-free?</li>
<li>pourquoi on s’en sert?</li>
</ul></li>
<li>faire la promo des autres activités de le fede</li>
</ul>
<h3 id="section"></h3>
<ul>
<li>TODO: rédiger une fiche d’aide??</li>
<li>TODO: avoir une machine avec tous les DE installés</li>
<li>TODO: bosser sur un DE “résilience”? (dwm? …)</li>
</ul>
<h2 id="divers">divers</h2>
<ul>
<li>installer GPG, enigmail et configurer $EMAIL ?</li>
</ul>
